@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: "Bitter", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }

@layer utilities {
    .items-with-border > *::before {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 60%;
      top: 20%;
      left: 0;
      background-color: #bebebe;
    }
    .items-with-border > *:first-child::before {
      display: none;
    }
}


.icon {
  background-size: contain;
  background-repeat: no-repeat;
}
